@import "tailwindcss/base";
@import "../../deps/petal_components/assets/default.css";
@import "../../../assets/tailwind.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
